<h1 class="playlist-index">User's Playlist</h1>





<form class="playlist_create" action="http://localhost:3000/users/<%=@user%>/playlists" method="POST">
  <input type="text" name="playlist_name" placeholder="Name of Playlist">
  <input type="submit">
</form>