<h1 class="playlist-index">User's Playlist</h1>

<p class="testes">

</p>




<form class="playlist-create" action="http://localhost:3000/users/<%=@user%>playlists" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="genre" placeholder="Genre">
  <input type="submit">
</form>