hjhjuhihu
<object height="81" width="100%" id="yourPlayerId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
  <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fmatas%2Fhobnotropic&enable_api=true&object_id=yourPlayerId" type="application/x-shockwave-flash" width="100%" name="yourPlayerId"></embed>
</object>


<input type="submit" value="PLAY IT MOTHA FUCKA" class="macdre">

<script>

</script>


<form class="search_bar" action="http://localhost:3000/songs" method="GET">
  <input type="text" name="search" placeholder= "Search artist or title">
  <input type="submit">
</form>

<form class="play_songs" action="http://localhost:3000/users/<%=@user%>/playlists/<%=@playlist_id%>" method="GET">
<input type="submit">
</form>

<div class="current" style="float:right; margin:20px">Current Playlist

  <p></p>
</div>

<h1 class="playlist">Playlist:</h1>
<div class="nonajax"> </div>


