<div class="widget_container">

</div>

<button class="upskip">Upskip</button>
<button class="downskip">Downskip</button>
<button class="upreplay">Upreplay</button>
<button class="downreplay">Downreplay</button>

