<h1>Create a new BJ</h1>

<form action="/users" method="post" id="new-user">
  <input type="text" name="user_name" value="username">
  <input type="text" name="password" value="password">

  <input type="submit" value="Create">
</form>
