<!-- <h1 class="cent">Create A New Backseat DJ User</h1> -->

<!-- <form action="http://localhost:3000/users" method="post" id="new-user" class="cent">
  <input type="text" name="user_name" placeholder="username">
  <input type="text" name="password" placeholder="password">

  <input type="submit" value="Create">
</form> -->


<!-- <h1 class="cent">Backseat DJ</h1> -->

<!-- <form action="http://localhost:3000/" method="get" class="cent">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">

  <input type="submit" name="login" value="Login">
</form> -->

<!-- <div class="cent">
  <a href="/users/new" class="cent">Create A New Account</a>
</div> -->


<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">

    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Backseat DJ</h1>
        <p class="splash-subhead">
            Create A New Backseat DJ User
        </p>
          <form action="http://localhost:3000/users" method="post" id="new-user" class="cent">
            <input type="text" name="user_name" placeholder="username">
            <input type="text" name="password" placeholder="password">

            <input type="submit" value="Create">
          </form>
        <!--  <a href="/users/new" class="cent">Create A New Account</a> -->

    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Backseat DJ is easy to use.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    Make a free account and get started immediately.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Play With 2-5 Friends
                </h3>
                <p>
                    All you have to do is log in and assign positions to each player.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Make Playlists With Friends
                </h3>
                <p>
                    You can make as many playlists by yourself or with friends as you want and then save them to use as many times as you want.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Vote On Each Song
                </h3>
                <p>
                    Either skip or repeat each song in a playlist based on whether that song makes you feel some type of way. Let your friends know exactly how you feel about their musical tastes.
                </p>
            </div>
        </div>
    </div>

    <!-- <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
        </div>
    </div> -->
<!--
    <div class="content">
        <h2 class="content-head is-center">Sign Up For A Free Account Now!</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" href="/users/new" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </div> -->

    <div class="footer l-box is-center">
       Brought to you by David, Silas, Katie, Leandra and Brandon of the 2015 Rock Doves, a DevBootcamp, San Francisco Cohort....
    </div>

</div>
