<h1 class="cent">Who Ride Wit Us</h1>

<form action="#" method="post" class="cent">
  <input type="text" name="1" placeholder="Driver">
  <input type="text" name="2" placeholder="Shawwtty">
  <input type="text" name="3" placeholder="Back-Left">
  <input type="text" name="4" placeholder="Back-Right">
  <input type="text" name="5" placeholder="Bitch">
  <input type="submit" name="Ride Out" value="Ride Out">
</form>

#### put users as sessions add them into users controller

#who knows
