<form class="search_bar" action= "http://localhost:3000/playlists/new" method="GET">
  <input type="text" name="search" placeholder= "Search artist or title">
  <input type="submit">
</form>

<form class="play_songs" action="http://localhost:3000/playlists/1" method="GET">
<input type="submit" >
</form>

<div class="current" style="float:right; margin:20px">Current Playlist

  <p></p>
</div>

<h1 class="playlist">Playlist:</h1>


